.btn-hire {
  --_btn-size: 40px;

  position: fixed;
  z-index: 9999;
}
.btn-hire > div {
  position: relative;
  width: calc(2 * var(--_btn-size) + 20px);
  height: calc(2 * var(--_btn-size) + 20px);
}
.btn-hire,
.btn-hire > div,
.btn.btn-hire-me.btn--filled {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.btn-hire .icon {
  color: var(--clr-white);
}
.btn.btn-hire-me.btn--filled {
  height: var(--_btn-size);
  width: var(--_btn-size);
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* MOBILE ONLY */
@media screen and (max-width: 44.999em) {
  .btn-hire {
    top: calc(2 * var(--spacer-large));
    right: var(--spacer-smallest);
  }
  .btn.btn-hire-me.btn--filled {
    font-size: 0.6rem;
  }
}

/* TABLET AND ABOVE */
@media screen and (min-width: 45em) {
  .btn-hire {
    --_btn-size: 80px;

    left: var(--spacer-smallest);
    bottom: var(--spacer-smallest);
  }
}

/* PORTABLE LAPTOP */
@media screen and (min-width: 64.064em) {
}

/* DESKTOP */
@media screen and (min-width: 96.006em) {
}
