.btn {
  --_btn-opacity: 1;

  display: inline-block;
  padding: var(--spacer-small) calc(2 * var(--spacer-largest));
  border-radius: var(--border-radius-xxl);
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  border: 2px solid rgba(var(--clr-default-rgb), var(--_btn-opacity));
  transition: all ease-in-out 0.2s;
}
.btn--filled {
  background: rgba(var(--clr-default-rgb), var(--_btn-opacity));
  color: rgba(var(--clr-white-rgb), 1);
}
.btn--outlined {
  color: rgba(var(--clr-default-rgb), var(--_btn-opacity));
}
.btn--outlined:hover,
.btn--filled:hover {
  --_btn-opacity: 0.8;

  transform: translateY(-5%);
}

/* MOBILE ONLY */
@media screen and (max-width: 44.99em) {
  .btn {
    width: 100%;
    font-size: 1.25rem;
  }
}

/* TABLET */
@media screen and (min-width: 45em) {
}

/* DESKTOP */
@media screen and (min-width: 96.006em) {
}
