.btn-social {
  --_btn-social-opacity: 0.6;

  display: inline-block;
  padding: var(--spacer-small);
  border-radius: 100%;
  margin-bottom: -5px;
  background: rgba(var(--background-start-rgb), var(--_btn-social-opacity));
  backdrop-filter: blur(6px);
  transition: all ease-in-out 0.2s;
}
.btn-social:not(:first-child) {
  margin-left: var(--spacer);
}
.btn-social__icon {
  height: 1.65rem;
  width: 1.65rem;
}
:is(
    .btn-social-facebook,
    .btn-social-instagram,
    .btn-social-linkedin,
    .btn-social-twitter
  ):hover {
  color: rgba(var(--background-end-rgb), 1);
}
.btn-social-facebook:hover {
  background: #1e3a8a;
}
.btn-social-instagram:hover {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}
.btn-social-twitter:hover {
  background: #00acee;
}
.btn-social-linkedin:hover {
  background: #0077b5;
}
