header {
  position: sticky;
  top: 0;
  width: 100%;
  padding-top: var(--spacer-smaller);
  padding-bottom: var(--spacer-smaller);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(var(--background-end-rgb), 1);
  z-index: 999999999;
}
.header-overlay {
  position: absolute;
  inset: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08); */
  background: rgba(var(--background-end-rgb), 1);
  opacity: 0;
}
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.nav-link {
  padding: var(--spacer-smallest) 0;
  border-bottom: 2px solid transparent;
  text-transform: uppercase !important;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}
.nav-link:not(:last-child) {
  margin-right: var(--spacer-small);
}
.nav-link:hover {
  color: rgba(var(--clr-default-rgb), 1);
  border-bottom-color: rgba(var(--clr-default-rgb), 1);
}
