@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* SPACES */
  --spacer-smallest: 0.25rem;
  --spacer-smaller: 0.5rem;
  --spacer-small: 0.75rem;
  --spacer: 1rem;
  --spacer-large: 1.25rem;
  --spacer-larger: 1.5rem;
  --spacer-largest: 1.75rem;

  /* BORDER RADIUS */
  --border-radius: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 24px;
  --border-radius-xxl: 100px;

  /* COLORS */
  --clr-orange: #f27121;
  --clr-light-orange: #cc8742;
  --clr-dark-orange: #cc6239;
  --clr-dark-blue: #00313c;
  --clr-gray: #868d93;
  --clr-gray-rgb: 134, 141, 147;
  --clr-white-rgb: 254, 254, 254;
  --clr-black-rgb: 6, 6, 6;
  --clr-light-orange-rgb: 204, 135, 66;
  --clr-dark-orange-rgb: 204, 98, 57;
  --clr-dark-blue-rgb: 0, 49, 60;
  --clr-orange-rgb: 242, 113, 33;
  --clr-pink-rgb: 210, 78, 145;

  --foreground-rgb: 0, 0, 0;
  --clr-main: var(--gray);

  --clr-default-rgb: var(--clr-orange-rgb);
  --clr-default-text-rgb: var(--clr-white-rgb);
  --background-start-rgb: 51, 52, 71;
  --background-end-rgb: 51, 52, 71;

  box-sizing: border-box;
  font-size: 14px;
}
html[data-theme="light"] {
  --clr-default-text-rgb: var(--clr-black-rgb);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --clr-default-text-rgb: var(--clr-white-rgb);
    --background-start-rgb: 51, 52, 71;
    --background-end-rgb: 51, 52, 71;
  }
} */

* {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}
html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 40px;
}
body {
  min-height: 100vh;
  color: rgb(var(--clr-default-text-rgb));
  background: rgba(var(--background-start-rgb), 1);
}
a {
  color: inherit;
  text-decoration: none;
}
img,
input {
  max-width: 100%;
}
section {
  padding-top: calc(2 * var(--spacer-largest));
  padding-bottom: calc(2 * var(--spacer-largest));
}
:is(h1, h2, h3, h4, h5, h6) {
  line-height: 1.2;
}
.title {
  font-size: 2rem;
  font-weight: 600;
}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(var(--background-start-rgb), 1);
}
.overlay--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TABLET */
@media screen and (min-width: 45em) and (max-width: 96.0005em) {
}

/* TABLET AND ABOVE */
@media screen and (min-width: 45em) {
  :root {
    font-size: 16px;
  }
  .title {
    font-size: 2.8rem;
  }
}

/* PORTABLE */
@media screen and (max-width: 96.0005em) {
}

/* DESKTOP */
@media screen and (min-width: 96.006em) {
}
