@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* SPACES */
  --spacer-smallest: 4px;
  --spacer-smaller: 8px;
  --spacer-small: 12px;
  --spacer: 16px;
  --spacer-large: 20px;
  --spacer-larger: 24px;
  --spacer-largest: 28px;

  /* BORDER RADIUS */
  --border-radius: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 24px;
  --border-radius-xxl: 100px;

  /* COLORS */
  --clr-orange: #f27121;
  --clr-light-orange: #cc8742;
  --clr-dark-orange: #cc6239;
  --clr-dark-blue: #00313c;
  --clr-light-orange-rgb: 204, 135, 66;
  --clr-dark-orange-rgb: 204, 98, 57;
  --clr-dark-blue-rgb: 0, 49, 60;
  --clr-orange-rgb: 242, 113, 33;
  --clr-pink-rgb: 210, 78, 145;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --clr-default-rgb: var(--clr-orange-rgb);

  box-sizing: border-box;
  font-size: 14px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgba(var(--background-end-rgb), 1)
    )
    rgba(var(--background-start-rgb), 1);
}
section {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
}
:is(h1, h2, h3, h4, h5, h6) {
  line-height: 1.2;
}
.title {
  font-size: 1.8rem;
  font-weight: 600;
}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(var(--background-start-rgb), 1);
}
.overlay--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TABLET */
@media screen and (min-width: 45em) and (max-width: 96.0005em) {
}

/* TABLET AND ABOVE */
@media screen and (min-width: 45em) {
  :root {
    font-size: 16px;
  }
  .title {
    font-size: 2.25rem;
  }
}

/* PORTABLE */
@media screen and (max-width: 96.0005em) {
}

/* DESKTOP */
@media screen and (min-width: 96.006em) {
}
