.skill-section {
  --_icon-h: 100px;

  padding-top: calc(3 * var(--spacer-largest));
  padding-bottom: calc(3 * var(--spacer-largest));
}
.skills-list {
  height: 100vh;
  position: relative;
  background: repeating-radial-gradient(
    rgba(var(--clr-gray-rgb), 0.2) 2px,
    rgba(var(--background-start-rgb), 1) 5px,
    rgba(var(--background-start-rgb), 1) 100px
  );
}
.skills-list .icon {
  position: absolute;
  inset: 0;
  margin: auto;

  height: var(--_icon-h);
  max-width: 20%;
  opacity: 0;
  color: var(--clr-gray);
}
.skills-list.animate .icon {
  animation: xyAxis 1s linear forwards;
}

/* TABLET AND ABOVE */
@media screen and (min-width: 45em) {
  .skill-section {
    --_icon-h: 120px;
  }
}

/* PORTABLE LAPTOP */
@media screen and (min-width: 64.064em) {
  .skill-section {
    --_icon-h: 80px;
  }
}

/* DESKTOP */
@media screen and (min-width: 96.006em) {
}
